#map {
    max-width: 100%;
    height: 300px;
}
#google-map-input label {
    display: none;
}
#google-map-input {
    padding-bottom: 10px;
}
.map-input {
    float: left;
    width: 48%;
    margin-left: 5px;
    margin-right: 5px;
}
#countries {
    width: 48%;
    margin-left: 5px;
    margin-right: 5px;
}